form {
    display: flex;
    margin: 0 auto;
    padding: 10px;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

span{
    font-size: 20px;
    font-weight: bold;
}

input{
    text-align: center;
    height: 28px;
    width: 60%;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-bottom: 2px solid var(--corPrincipal);
}

button{
    width: 25%;
    height: 50px;
    background-color: var(--corPrincipal);
    color: var(--corTexto);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin: 12px 0;
    font-size: 2em;
}

.altura{
    margin: 12px;
}

.pesoTexto{
    margin-right: 18px;
}

.alturaTexto{
    margin-right: 8px;
}